@model System.Linq.IQueryable<EProductivity.Web.Controllers.WorkerViewModel>

@{
    ViewBag.Title = "Trabalhadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="table-responsive">
    <table class="table no-border hover">
        <thead class="no-border">
            <tr>
                <th><strong>Trabalhador</strong></th>
                <th><strong>Responsabilidade</strong></th>
                <th><strong>Area</strong></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="no-border-y">
            @{
                foreach (var workerViewModel in Model)
                {
                    <tr>
                        <td>@workerViewModel.Name</td>
                        <td>@workerViewModel.Responsability</td>
                        <td>@workerViewModel.Area</td>
                        <td><button class="btn btn-danger btn-flat btn-sm" type="button"><strong>x</strong> Excluir</button></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>