@{
    ViewBag.Title = "E-Productivity";
}


<div class="row">
    <div class="col-md-8">
        <div class="block-flat">
            <div class="header">
                <h3>Produtividade atual</h3>
            </div>
            <div class="content">
                <p>Content</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="block-flat">
            <div class="header">
                <h3>Amostragens em aberto</h3>
            </div>
            <div class="content">
                <p>Content</p>
            </div>
        </div>
    </div>
</div>
@section scripts{

}