@using Microsoft.AspNet.Identity

@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav navbar-right user-nav">
        <li class="dropdown profile_menu">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown"><span>@User.Identity.GetUserName()</span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Minha conta", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Gerenciar" })</li>
                <li class="divider"></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Sair</a></li>
            </ul>
        </li>
    </ul>
}
