
<div class="container-fluid">

    <!-- Left Menu Side -->
    <div class="navbar-header">
        <!-- Toggle Button visible for Extra Small Devices -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- Brand Logo -->
        <a class="navbar-brand" href="@Url.Action("Dashboard","Home")"><span>E-Productivity</span></a>
    </div>

    <!-- Right Menu Side -->
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <!-- Left Menu Items -->
        </ul>
        @{
            Html.RenderPartial("~/Views/Shared/_LoginPartial.cshtml");
        }
        <ul class="nav navbar-nav navbar-right not-nav">
            <!-- Right Menu Notification Items -->
        </ul>
    </div>

</div>
