
<!-- Collapse Toggle -->
<div class="cl-toggle"><i class="fa fa-reorder"></i></div>

<!-- Menu Items -->
<div class="cl-navblock">
    <ul class="cl-vnavigation">
        <li>
            <a href="#"><i class="fa fa-icon-name"></i>First Level Item</a>
            <ul class="sub-menu">
                <li><a href="#">Second Level Item</a></li>
            </ul>
        </li>
    </ul>
</div>
